.content{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    width: 100%; */
    /* background: #23bc64; */
}

.appbar{
    height: 50px;
    /* background: #23bc64; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    user-select: none;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4) ;
}

.logo{
    height: 36px;
    width: 36px;
    background: #1e1e1e;
    border-radius: 5px;
}

.nav{
    display: flex;
}

.nav-item{
    display: block;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.focusdiv{
    cursor: pointer;
    font-size: 22px;
    font-weight: 800;
}

.categories{
    display: flex;
    margin: 5px;
}

.works{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category{
    user-select: none;
    margin: 0 5px;
    padding: 2px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #1e1e1e;
}

.active{
    border-bottom: 2px solid #1e1e1e;
}

.work-card{
    padding: 8px;
    margin: 10px 0;
    height: calc(100vh * .7);
    width: calc(100vw * .9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #1e1e1e; */
}

.ctrl{
    height: 28px;
    width: 28px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.card-content{
    display: flex;
}

.infor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.titles{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 36px;
    width: 36px;
    background: #1e1e1e;
    border-radius: 50%;
}

.words{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.words span{
    font-size: 14px;
    /* font-weight: 500; */
}

.hd{
    font-size: 17px;
    font-weight: bold;
}

.links{
    display: flex;
}

.link{
    height: 24px;
    width: 24px;
    background: #c1c1c1;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.thumb{
    padding: 5px;
    border-radius: 5px;
    width: 60%;
    background: red;
}