.content{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%;
    width: 100%; */
    /* background: #23bc64; */
}

.appbar{
    height: 50px;
    /* background: #23bc64; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    user-select: none;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4) ;
}

.logo{
    position: relative;
    height: 36px;
    width: 36px;
    /* background: #1e1e1e; */
    border-radius: 5px;
}

.logo-img{
    position: absolute;
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
}

.nav{
    display: flex;
}

.nav-item{
    display: block;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.focusdiv{
    cursor: pointer;
    font-size: 22px;
    font-weight: 800;
}

.categories{
    display: flex;
    margin: 5px;
}

.works{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category{
    user-select: none;
    margin: 0 5px;
    padding: 2px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #1e1e1e;
}

.active{
    border-bottom: 2px solid #1e1e1e;
}

.work-card{
    padding: 8px;
    margin: 10px 0;
    height: calc(100vh * .7);
    width: calc(100vw * .9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #1e1e1e; */
}

.ctrl{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 28px;
    width: 28px;
    /* background: #c1c1c1; */
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.ctrl::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #c1c1c1;
    transform: scale(1.5, 1.5);
}

.card-content{
    display: flex;
}

.infor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.titles{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 36px;
    width: 36px;
    background: #1e1e1e;
    border-radius: 50%;
}

.words{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.words span{
    font-size: 14px;
    /* font-weight: 500; */
}

.hd{
    font-size: 17px;
    font-weight: bold;
}

.links{
    display: flex;
}

.link{
    height: 24px;
    width: 24px;
    background: #c1c1c1;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.thumb{
    padding: 5px;
    border-radius: 5px;
    width: 60%;
    background: red;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

button{
    margin: 10px 5px;
    outline: none;
    border: none;
    padding: 10px 40px;
    background: #23cb64;
    cursor: pointer;
    border-radius: 5px;
    width: min-content;
    user-select: none;
}

.icon-sml{
    position: relative;
    height: 24px;
    width: 24px;
    /* background: #1e1e1e; */
    border-radius: 50%;
    margin: 0 5px 0 0;
}

.row-wd{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-wd-bl{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 0;
}

.hd-sc{
    display: flex;
    align-items: center;
    user-select: none;
}

textarea{
    border: none;
    background: #c1c1c1;
    padding: 8px;
    border-radius: 5px;
}

input{
    border: none;
    background: #c1c1c1;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
}

.top-sec{
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    font-weight: 800;
}

.profile{
    height: 128px;
    width: 128px;
    background: #1e1e1e;
    border-radius: 50%;
}

.skills{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 10px 5px 0;
}

.spacer{
    width: 80px;
}